<h1>My Travel Log - Places I've Been</h1>

<ul>
  <% for place in @places %>
  <li>
  <a href="/places/<%= place["id"] %>">
    <a><%= place["name"] %>
    </a>
</li> 
  <% end %>
</ul>

<%= link_to "Add New Place", new_place_path %>
