<h1> Places I've Been</h1>

<ul>
  <% for place in @places %>
  <h2>
    <a href="/places/<%= place["id"] %>">
   <%= place["name"] %>
  </h2>
</p> 
  <% end %>
</ul>

<%= link_to "Add New Place", new_place_path %>
