<h1>Add a New Place</h1>

<form action="/places" method="post">
 <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> 
 <%#when de-bugging it told me i needed this line^%>

  <p>
    <label for="place">Place</label>
    <input type="text" name="place" id="place">
  </p>
  <p>
  <label for="date visited">Date visited</label>
     <input type="date" name="date visited" id="date visited">
  </p>
     <p>
      <label for="description">Description</label>
    <input type="text" name="description" id="description">
     </p>
     </p>
  <button>Submit</button>
 <p>
   <a href="/places/">Back to all places</a>
</p>
</form>

