<h1><%= @place["name"] %></h1>
<p><%= @place["date_visited"]%></p>
<p><%= @place["description"] %></p>


<p>
  <a href="/places/new/">New Trip</a>
</p>

<p>
  <a href="/places/">Back to all places</a>
</p>